/** IMPORTS & GERAL **/

@font-face {
  font-family: Lato-Light;
  src: url(assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(assets/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(assets/fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter/Inter_24pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** HEADER **/

header {
  background: #1e52b4;
  background: linear-gradient(90deg, #1e52b4 0%, #002777 100%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 0 5vw;
}

header nav {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

header a {
  font-family: Lato-Regular;
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  margin-right: 8%;
}

header button {
  background-color: transparent;
  width: 20%;
  height: 35px;
  border: 1px solid white;
  border-radius: 8px;
}

/** BANNER SECTION **/

.banner-section {
  height: 450px;
  background: #1e52b4;
  background: linear-gradient(90deg, #1e52b4 0%, #002777 100%);
  padding-bottom: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner-section div {
  height: 100%;
  width: 50vw;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-section img {
  margin: 0 6vw;
}

.banner-section h1 {
  font-family: Lato-Bold;
  text-decoration: none;
  color: white;
  font-size: 35px;
  line-height: 42px;
  text-align: left;
}

.banner-section p {
  width: 30vw;
  font-family: Lato-Regular;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}

/** ARTICLE SECTION **/

.icone-pousada {
  height: 150px;
}

.article-section {
  height: fit-content;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15vh;
}

.article-section img {
  width: 250px;
  border-radius: 10px;
}

.article-section h3 {
  font-family: Lato-Bold;
  text-decoration: none;
  color: #2e2636;
  font-size: 16px;
  line-height: 21.6px;
  text-align: left;
}

.article-section h4 {
  font-family: Lato-Bold;
  text-decoration: none;
  color: #ffdf00;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.article-section p {
  font-family: Lato-Regular;
  text-decoration: none;
  color: #33303e;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 250px;
}

.article-section article {
  margin: 25px 35px;
}

.row-div {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-div-big {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.article-section-b {
  height: 100px;
  display: flex;
  margin-top: 20vh;
  display: flex;
  align-items: center;
}

.article-section-b div {
  width: 40vw;
}

.article-section-b img {
  height: 100%;
  width: auto;
}

.article-section-b h1 {
  font-family: Lato-Black;
  text-decoration: none;
  color: #2e2636;
  font-size: 28px;
  line-height: 42px;
  text-align: left;
  width: 35vw;
}

.article-section-b h2 {
  font-family: Lato-Regular;
  text-decoration: none;
  color: #2e2636;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  width: 30vw;
}

/** FOOTER **/

footer {
  height: 200px;
  width: 100%;
  background-color: #009c3b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upper-footer img {
  height: 150px;
}

.img-right {
  height: 150px;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

footer h1 {
  font-family: Inter;
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  width: 30vw;
}

footer p {
  font-family: Lato-Regular;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  width: 50vw;
  margin-top: 5px;
}

.div-yellow {
  height: 50px;
  background-color: #ffdf00;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** mewo **/
.front-menu {
  position: relative;
  top: -40px;
  left: 12.5vw;
  background-color: white;
  width: 75vw;
  height: 80px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.front-menu hr {
  border: dashed 1px;
}

.front-menu input {
  font-family: Lato-Regular;
  text-decoration: none;
  color: #5f5c6b;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-left: 10px;
  border: none;
}

.front-menu input:focus {
  outline: none;
}

.front-menu p {
  font-family: Lato-Regular;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}

.item-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-menu button {
  width: 15vw;
  height: 45px;
  background-color: #009c3b;
  border: transparent;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .link-b {
    display: none;
  }

  header nav {
    justify-content: center;
  }
  header button {
    width: fit-content;
    padding: 5px;
  }

  header img {
    width: 1/3 vw;
  }

  header a {
    margin: none;
  }

  .banner-section {
    height: 40vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .banner-section h1 {
    margin-top: 5vh;
    width: 75vw;
    font-size: 28px;
  }

  .banner-section p {
    width: 75vw;
    font-size: 16px;
  }

  .banner-section img {
    display: none;
  }

  .banner-left {
    width: 80vw;
  }

  .front-menu {
    margin-right: 18.76px;
    flex-direction: column;
    left: 10vw;
    height: 200px;
  }

  .front-menu button {
    width: 40vw;
  }

  .row-div-big {
    padding-right: 6.6vw;
    flex-direction: column;
    margin: none;
    padding: none;
  }

  .article-section article {
    margin-top: 0;
  }

  .article-section-b {
    margin-top: 5vh;
    margin-bottom: -5vh;
  }

  .article-section-b img {
    display: none;
  }

  .article-section-b h1 {
    width: 75vw;
    font-size: 20px;
    line-height: 24px;
  }

  .article-section-b h2 {
    width: 75vw;
    font-size: 16px;
    line-height: 24px;
  }

  footer {
    height: 150px;
  }

  .footer-column{
    width: 100vw;
    margin-right: 25px;
  }

  .upper-footer img {
    display: none;
  }

  footer h1{
    width: 80vw;
    font-size: 18px;
  }
  footer p{
    width: 80vw;
    font-size: 15px;
  }

  .div-yellow {
    padding-right: 25px;
  }
}
